In [1]:
##

In [1]:
import pandas as pd

In [2]:
large1 = pd.read_csv("large_file.csv")

In [3]:
large1.head()

                   ID                     EMAIL
0  003f400000wn7G8AAI      cinpat@optonline.net
1  003f400000wn67kAAA  rachael.m.soun@gmail.com
2  003f400000wn9GbAAI    scottsweet16@gmail.com
3  003f400000wn9GcAAI      petejr6881@yahoo.com
4  003f400000wn9GdAAI         bugman181@aol.com

In [4]:
len(large1)

1407338

In [5]:
small2 = pd.read_csv("small_file2.csv")

In [7]:
small2.head()

,EMAIL,subscriber key,status_name,last_modified_at,last_name,first_name,group-name,id,other_id
0,1001lily6@gmail.com,1001lily6@gmail.com,active,NaN,Rhoads,Lynette,NaN,1,NaN
1,10toppazzini@gmail.com,10toppazzini@gmail.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,2,NaN
2,11795331@qq.com,11795331@qq.com,active,2015-04-21T09:09:57 CDT,NaN,NaN,NaN,3,NaN
3,1261hrmgr@hy-vee.com,1261hrmgr@hy-vee.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,4,NaN
4,12trippj@gmail.com,12trippj@gmail.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,5,NaN

In [6]:
#pd.merge(small2, large1, on='EMAIL', how='inner')

In [8]:
len(small2)

10949

In [15]:
data1=pd.merge(small2, large1, on='EMAIL', how='inner',indicator=True)

df1.merge(df2, on=['key'], how='left', indicator=True)

In [9]:
data3=small2.merge(large1, on=['EMAIL'], how='left', indicator=True)

In [10]:
len(data3)

11317

In [20]:
len(data1)

11308

In [21]:
data1.to_csv('output2.csv', encoding='utf-8', index=False)

In [24]:
#data3

In [23]:
data3[data3['_merge'] == 'left_only']

,EMAIL,subscriber key,status_name,last_modified_at,last_name,first_name,group-name,id,other_id,ID,_merge
930,batman_rocks028@yahoo.com,batman_rocks028@yahoo.com,active,2017-12-24T13:11:42 CST,Quinn,Lindsey,NaN,905,NaN,NaN,left_only
1505,burneyskyla@yahoo.com,burneyskyla@yahoo.com,active,2018-07-21T14:31:38 CDT,Burney,Skyla,NaN,1458,NaN,NaN,left_only
3430,estoli9@gmail.com,estoli9@gmail.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,3312,NaN,NaN,left_only
5406,juris.simanis@citizensmemorial.com,juris.simanis@citizensmemorial.com,active,2015-04-21T09:09:57 CDT,NaN,Juris,NaN,5234,NaN,NaN,left_only
6411,legarce@hotmail.com,legarce@hotmail.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,6211,NaN,NaN,left_only
6737,lungar23@yahoo.com,lungar23@yahoo.com,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,6523,NaN,NaN,left_only
9067,rvoboril@hotmail.com,rvoboril@hotmail.com,active,2018-03-10T05:25:37 CST,Voboril,Reggie,NaN,8777,NaN,NaN,left_only
9078,rwwilson147@swbell.net,rwwilson147@swbell.net,active,2015-04-20T13:53:23 CDT,NaN,NaN,NaN,8788,NaN,NaN,left_only
10734,trevor33matt@gmail.com,trevor33matt@gmail.com,active,2017-12-16T15:39:51 CST,Matt,Trevor,NaN,10388,NaN,NaN,left_only