In [9]:
import pytesseract
import os
from docx import Document
from PIL import Image
import pandas as pd

In [10]:
pytesseract.pytesseract.tesseract_cmd = 'C:\\Program Files (x86)\\Tesseract-OCR\\tesseract'

In [11]:
imglis=os.listdir('Dumps')

In [12]:
df22=pd.DataFrame()

In [16]:
lis2=[]

for i in range(1,5):
    print(imglis[i])
    path='Dumps/'+imglis[i]
    txt=pytesseract.image_to_string(Image.open(path))
    hd='Qestion for ' +imglis[i]
    text = txt
    left = 'Platform App Builder (SP19)'
    right = 'Mark this item for later review'
    if(i==1):
        txt2=text[text.index(left)+len(left):text.index(right)]

        df22 = pd.DataFrame([x.split('[ \t]*,[ \t]*') for x in txt2.split('\n')])
        print('This is forst')
        
    try:
        txt2=text[text.index(left)+len(left):text.index(right)]
        #print(txt2)
        #lis2.append(txt2)
        data2 = pd.DataFrame([x.split('[ \t]*,[ \t]*') for x in txt2.split('\n')])

        
        
    except:
        print('EXP occur')
        print(txt)
    datatrans=data2.T
    #print(datatrans)
    df22.append(datatrans,ignore_index=True)
    print(df22)

10.jpg
This is forst
                                                    0
0
1
2   10 of 60. Which two objects can be members of ...
3                                    Choose 2 answers
4
5                                            A.M Lead
6
7                                   B. CJ Opportunity
8                                        c. H Contact
9                                      D. DO Account:
10
11
12
13
14
15                                                  (
11.jpg
                                                    0
0
1
2   10 of 60. Which two objects can be members of ...
3                                    Choose 2 answers
4
5                                            A.M Lead
6
7                                   B. CJ Opportunity
8                                        c. H Contact
9                                      D. DO Account:
10
11
12
13
14
15                                                  (
12.jpg
                                                    0
0
1
2   10 of 60. Which two objects can be members of ...
3                                    Choose 2 answers
4
5                                            A.M Lead
6
7                                   B. CJ Opportunity
8                                        c. H Contact
9                                      D. DO Account:
10
11
12
13
14
15                                                  (
13.jpg
                                                    0
0
1
2   10 of 60. Which two objects can be members of ...
3                                    Choose 2 answers
4
5                                            A.M Lead
6
7                                   B. CJ Opportunity
8                                        c. H Contact
9                                      D. DO Account:
10
11
12
13
14
15                                                  (

In [15]:
df22

                                                    0
0
1
2   10 of 60. Which two objects can be members of ...
3                                    Choose 2 answers
4
5                                            A.M Lead
6
7                                   B. CJ Opportunity
8                                        c. H Contact
9                                      D. DO Account:
10
11
12
13
14
15                                                  (

In [ ]:
import pandas as pd

In [ ]:
data2 = pd.DataFrame('m1.txt', sep = "[ \t]*,[ \t]*", header=None)

In [ ]:
data=lis2[1]

In [ ]:
df = pd.DataFrame([x.split('[ \t]*,[ \t]*') for x in data.split('\n')])

In [ ]:
df

In [ ]:
data2 = pd.melt(lis2[1], sep = "[ \t]*,[ \t]*", header=None)

In [ ]:
data

In [ ]:
datatrans=data2.T

In [ ]:
datatrans

In [ ]:
lis=[]
lis.append(datatrans.values)

In [ ]:
import numpy

In [ ]:
type(lis)

In [ ]:
lis.append(datatrans.values)

In [ ]:
lis

In [ ]:
df = pd.DataFrame(lis)

In [ ]:
df